bigquery:
  jobs_data_gcs_bucket_path: "gcs/bucket/path/where/jobs/data/is/present"
  jobs_timeline_data_gcs_bucket_path: "gcs/bucket/path/where/jobs/timeline/data/is/present"
  billing_data_gcs_bucket_path: "gcs/bucket/path/where/billing/data/is/present"
  upload_project: "project_id where you want to upload data"
  upload_dataset: "dataset where you want to upload data"
  jobs_table_name: "table name where you want to upload JOBS data"
  jobs_timeline_table_name: "table name where you want to upload JOBS TIMELINE data"
  billing_table_name: "table name where you want to upload BILLING data"
  credential: "/path/to/credential/file"